.image-holder {
  position: relative;
  background-image: url('../imgs/background.png');
  background-repeat: no-repeat;
  height: 618px;
}

.image-holder .image-slider {
  position: absolute;
  top: 100px;
  left: 150px;
}

.hide {
  display: none;
}