.landingpage-footer {
  display: flex;
  text-transform: uppercase;
  padding: 3.5rem 7.5rem;
  font-size: 0.7rem;
}

.landingpage-footer .help-navigation {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  
}

.help-navigation li > a {
  text-decoration: none;
  margin-right: 1rem;
  color: #00376b;
  font-weight: bold;
}

.landingpage-footer {
  color: #8e8e8e;
}