.signup-card {
  padding: 1rem;
  text-align: center;
  color: #262626;
  font-size: 0.8rem;
  border: 1px solid #dbdbdb;
  margin-bottom: 1rem;
}

.signup-card a {
  text-decoration: none;
  color: #0095f6;
  font-weight: bold;
}
